.discuss{
    transform: translateY(100px);
}

.discuss-wrap{
    background: #FFCC00;
    padding: 116px 0px 116px 116px;
    max-width: 1470px;
    margin: 76px auto 0px;
    display: flex;
    justify-content: space-between;
    max-height: 644px;
}

.discuss-left{
    width: 95%;
}

.discuss-left_title{
    font-weight: 500;
    font-size: 74px;
    line-height: 80px;
    color: #000000
}

.discuss-left_subtitle{
    font-size: 31px;
    line-height: 42px;
    color: #505050;
    margin-top: 51px;
    max-width: 595px;
}

.discuss-left_link{
    display: inline-block;
    border: 2px solid #272727;
    padding: 30px 94px;
    font-size: 30px;
    font-weight: 500;
    margin: 51px 0px 0px;
    color: #000;
    cursor: pointer;
}

.discuss-left_link:hover{
    color: #FFCC00;
    background-color: #000;
    transition: 0.3s;
}

.discuss-right img{
    width: 100%;
}

.discuss-right{
    transform: translate(55px, -409px);
    width: 100%;
}

@media(max-width: 1770px){
    .discuss-left_title{
        font-size: 50px;
        line-height: 61px;
    }
    .discuss-left_subtitle {
        font-size: 20px;
        line-height: 42px;
        margin-top: 20px;
        max-width: 400px;
    }
    .discuss-right{
        transform: translate(73px, -300px);
    }
    .discuss-left_link{
        font-size: 16px;
        padding: 20px 68px;
    }
    .discuss-right img{
        width: 535px;
    }
    .discuss-wrap{
        max-height: 550px;
        padding-top: 90px;
        max-width: unset;
        width: 85%;
    }
}

@media(max-width: 1340px){
    .discuss-right img {
        width: 445px;
    }
    .discuss-wrap{
        padding-left: 60px;
    }
    .discuss-right {
        transform: translate(73px, -250px);
    }
    .discuss-wrap {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 1140px){
    .discuss-left_title {
        font-size: 42px;
        line-height: 48px;
    }
    .discuss-right img{
        width: 50%;
        float: right;
    }
    .discuss-wrap{
        flex-direction: column;
        max-height: unset;
    }
    .discuss-right {
        transform: unset;
        margin: -80px 1px 0px -10px;
    }
}

@media screen and (max-width: 880px){
    .discuss-left_title {
        font-size: 32px;
        line-height: 38px;
    }
    .discuss-left_subtitle,
    .discuss-wrap p{
        font-size: 18px;
        line-height: 26px;
    }
    .discuss-left_link {
        padding: 16px 45px;
    }
}

@media screen and (max-width: 580px){
    .discuss-wrap{
        padding: 35px;
        margin-top: 0px;
    }
    .discuss-right{
        display: none;
    }
    .discuss-wrap .discuss-left{
        text-align: center;
    }
    .discuss-left_title,
    .discuss-left_subtitle{
        text-align: left;
    }
}

@media screen and (max-width: 400px){
    .discuss-wrap{
        width: 100%;
    }
    .discuss-left_link {
        padding: 16px 20px;
        width: 100%;
    }
    .discuss-wrap{
        padding: 35px 20px;
    }
    .discuss-left_subtitle{
        font-size: 16px;
        line-height: 23px;
    }
}