footer{
    background: #1A1A1A;
    padding: 117px 0px 10px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 443px;
    max-width: 1605px;
}

.footer-right,
.footer-left{
    display: flex;
    justify-content: space-between;
}
.footer-right{
    width: 38%;
}

.footer-left{
    width: 33%;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_content-link a{
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 215%;
    display: flex;
    align-items: center;
    outline: none;
    display: inline;
}

.footer_content-link a:hover{
    color: #FFCC00;
    transition: 0.3s;
}

.footer_content-title{
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 65px;
}

.footer_content-logo{
    padding-right: 10px;
    transform: translateY(8px);
    width: 35px !important;
    height: 35px !important;
    /* padding-bottom: 25px; */
}

.footer_content-link span{
    padding-right: 10px;
    font-weight: 900;
    font-size: 30px;
}

.fw{
    font-weight: 500;
}

.footer_quote{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px; 
    color: #FFFFFF;
    margin-bottom: 55px;
    max-width: 500px;
}

@media(max-width: 1770px){
    .footer_content-link a,
    .footer_content-title,
    .footer_quote{
        font-size: 16px;
    }
    .footer_quote{
        line-height: 20px;
        max-width: 350px;
    }
    .footer_content-logo{
        width: 25px !important;
        transform: translateY(-1px);
    }
}

@media(max-width: 1340px){
    .footer-right {
        width: 43%;
    }
}

@media screen and (max-width: 880px){
    .footer-wrapper{
        flex-direction: column;
        margin: 40px 0px 50px;
    }
    .footer-right,
    .footer-left{
        width: 80%;
    }
    .footer-right,
    .footer-left{
        width: 100%;
    }
    .footer-right,
    .footer-left{
        justify-content: flex-start;
    }
    .footer_content{
        width: 50%;
    }
}

@media screen and (max-width: 400px){
    .footer_content-logo {
        width: 15px !important;
        padding-right: 3px;
    }
    .footer_content-link a,
    .footer_quote{
        font-size: 14px;
    }
    .footer-right .footer_content:first-child{
        width: 68%;
    }
}